@{
    ViewBag.Title = "Mapa";
}


<div><img class="displayed" src="~/images/styl/16118100_1325011634204735_1874487171_n.png" alt="mapa"></div>



<style>
    .navbar-inverse {
        background-color: rgba(255, 255, 255, 0.0);
        border-color: rgba(255, 255, 255, 0.0);
    }

    body {
        background-image: url(/images/styl/sanesco.jpg);
        background-size: 100%;
    }

        .navbar-inverse .navbar-brand {
        color: #eeeeee;
         font-family:'bangersregular';
        font-size: xx-large;
    }

    .navbar-inverse .navbar-nav > li > a {
        color: #eeeeee;
        font-family:'bangersregular';
        font-size:large; 
    }

    IMG.displayed {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: auto; /* you can use % */
        height: 475px;
    }
</style>
